@font-face {
    font-family: "Verdana";
    src: url("Verdana.eot");
    src: local("Verdana"), url(../fonts/Verdana.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";
    src: url("Verdana-Bold.eot");
    src: local("Verdana Bold"),
        url(../fonts/Verdana-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";
    src: url("Verdana-Bolditalic.eot");
    src: local("Verdana BoldItalic"),
        url(../fonts/Verdana-BoldItalic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Verdana";
    src: url("Verdana-Italic.eot");
    src: local("Verdana Italic"),
        url(../fonts/Verdana-Italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}

.idc-section {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1250px;
    margin: 0 auto;
    min-width: 1250px;
    position: relative;
    z-index: 0;
}

.idc-section img,
.idc-section svg {
    width: 100%;
    display: block;
}

.idc-container {
    margin: 0 auto;
    width: 100%;
}

.idc-bg-wrapper[style^="background-image"] {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.idc-bg-wrapper {
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    position: absolute;
    z-index: -1;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.idc-bg-wrapper[style^="background-image"]:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-overflow-scrolling: touch;
    user-select: none;
    /* standerd */
    -moz-user-select: none;
    -webkit-tap-highlight-color: transparent;
    /* firefox specific */
    -webkit-user-select: none;
    /* Chrome, Opera and Safari*/
    -ms-user-select: none;
    /* IE, ms-edge */
    overflow-x: hidden;
}

.idc-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.idc-h1,
.idc-h2,
.idc-text-1,
.idc-text-2,
.idc-text-3,
.idc-text-3b,
.idc-text-4,
.idc-text-4b,
.idc-text-5,
.idc-text-5b,
.idc-text-5c,
.idc-text-6,
.idc-text-6b {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    color: #000000;
}

.idc-h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
}
.idc-h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
}

.idc-text-1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 97px;
}
.idc-text-2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.idc-text-3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.idc-text-3b {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}
.idc-text-4b {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
.idc-text-4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.idc-text-5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.idc-text-5b {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.idc-text-5c {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}
.idc-text-6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.idc-text-6b {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

/* ******Nav***** */
.idc-nav {
    z-index: 1;
}
.idc-nav .idc-container {
    padding-top: 40px;
}
.idc-nav .idc-nav-block {
    width: 100%;
    padding: 0 35px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.idc-nav .idc-logo {
    width: 187px;
    cursor: pointer;
}
.idc-nav .idc-menu {
    margin-left: auto;
}
.idc-nav .idc-menu .idc-menu__link {
    display: block;
}
.idc-nav .idc-text-5b {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 20px;
    cursor: pointer;
}
.idc-nav .idc-menu.grey .idc-text-5b {
    color: #757575;
}
.idc-nav .idc-text-5b:hover,
.idc-nav .idc-menu.grey .idc-text-5b:hover {
    -webkit-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    color: #e30045;
}

.idc-nav .idc-menu .idc-menu__link.clicked.idc-text-5b {
    color: #e30045;
    position: relative;
}
.idc-menu .idc-menu__link.clicked::before {
    content: "";
    top: calc(100% + 10px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgba(227, 0, 69, 0.7);
}
.idc-modal-btn {
    display: none;
}

/* ******Main***** */

/* ******head***** */

.idc-main .idc-head {
    margin-top: -95px;
    z-index: 0;
}
.idc-main .idc-head .idc-content {
    padding: 220px 35px 100px;
    background-image: url(../img/main/head-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.idc-main .idc-head .idc-h1 {
    color: #ffffff;
    max-width: 912px;
}
.idc-main .idc-head .idc-h1 + .idc-text-4 {
    max-width: 801px;
    margin-top: 30px;
    color: #ffffff;
}

.idc-main .idc-head .idc-counts {
    margin-top: 150px;
}
.idc-main .idc-head .idc-count-1 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 384px;
}
.idc-main .idc-head .idc-top {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.idc-main .idc-head .idc-text-1,
.idc-main .idc-head .idc-text-4b {
    color: rgba(255, 255, 255, 0.8);
}
.idc-main .idc-head .idc-text-4b {
    margin-top: 25px;
    margin-left: 23px;
}
.idc-main .idc-head .idc-text-4 {
    color: rgba(255, 255, 255, 0.7);
}
.idc-main .idc-head .idc-count-2 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 130px;
    max-width: 289px;
}
.idc-main .idc-head .idc-count-2 .idc-text-4 {
    width: 80%;
}
.idc-main .idc-head .idc-counts .idc-text-4 {
    margin-top: 5px;
}

/* ******about***** */

.idc-main .idc-about .idc-container {
    padding-top: 150px;
    padding-bottom: 150px;
}
.idc-main .idc-about .idc-h2 {
    color: #265396;
    padding-left: 35px;
}
.idc-main .idc-about .idc-h2 + .idc-text-4 {
    margin-top: 20px;
    max-width: 1000px;
    padding-left: 35px;
}
.idc-main .idc-about .idc-cards-block {
    position: relative;
    margin-top: 60px;
    height: 356px;
}
.idc-swiper {
    padding: 18px 10px;
}
.idc-swiper .swiper-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.idc-swiper .swiper-slide {
    width: auto;
}
.idc-swiper-pagination {
    display: none;
}
.idc-main .idc-about .idc-card {
    height: 326px;
    width: 396px;
    padding: 35px;
    z-index: 1;
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.idc-main .idc-about .idc-card .idc-text-2 {
    color: #265396;
}
.idc-main .idc-about .idc-card .idc-text-5 {
    color: rgba(0, 0, 0, 0.7);
    margin-top: 42px;
}
.idc-main .idc-about .idc-middle-card + .idc-card {
    margin-left: auto;
}
.idc-main .idc-about .idc-middle-card {
    position: relative;
    z-index: -1;
}
.idc-main .idc-about .idc-middle-card::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 471px;
    height: 372px;
    background: #174f9e;
    z-index: -1;
}
.idc-main .idc-about .idc-middle-card .idc-text-2 {
    color: #ffffff;
}
.idc-main .idc-about .idc-middle-card .idc-text-5 {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 30px;
    max-width: 300px;
}
.idc-main .idc-about .idc-card-icon {
    width: 129px;
    margin-top: 3px;
    margin-left: auto;
}

/* ******pluses***** */
.idc-main .idc-pluses .idc-content {
    padding: 100px 35px;
    background-image: url(../img/main/dev-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.idc-main .idc-pluses .idc-h2 {
    color: #ffffff;
}
.idc-main .idc-pluses .idc-h2 + .idc-text-3 {
    color: rgba(255, 255, 255, 0.9);
    max-width: 905px;
    margin-top: 30px;
}

.idc-main .idc-pluses .idc-text-3b {
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    text-decoration: none;
}
.idc-main .idc-pluses .idc-text-3b::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.9);
}
.idc-main .idc-pluses .idc-text-3b:hover {
    -webkit-transition: 0.2 all ease-in-out;
    -o-transition: 0.2 all ease-in-out;
    transition: 0.2 all ease-in-out;
    color: #e30045;
}
.idc-main .idc-pluses .idc-text-3b:hover::before {
    -webkit-transition: 0.2 all ease-in-out;
    -o-transition: 0.2 all ease-in-out;
    transition: 0.2 all ease-in-out;
    background: #e30045;
}
.idc-main .idc-pluses .idc-link-wrapper {
    margin-top: 20px;
}
.idc-main .idc-pluses-block {
    margin-top: 40px;
}
.idc-main .idc-pluse {
    width: 355px;
    margin-left: 50px;
    margin-top: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.idc-main .idc-pluse:nth-child(1),
.idc-main .idc-pluse:nth-child(4) {
    margin-left: 0;
}

.idc-main .idc-pluse .idc-icon {
    width: 40px;
    margin-right: 15px;
}
.idc-main .idc-pluse .idc-text-3 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: rgba(255, 255, 255, 0.9);
}
.idc-main .idc-pluse:nth-child(4) .idc-text-3 {
    width: 255px;
}

/* ******video***** */
.idc-main .idc-video .idc-container {
    padding: 150px 0;
}
.idc-main .idc-video .idc-button-wrapper {
    text-align: center;
}
.idc-main .idc-video .idc-button {
    display: inline-block;
    color: #ffffff;
    background: #265396;
    border-radius: 15px;
    padding: 30px 68px;
    text-decoration: none;
    border: 2px solid #265396;
}
.idc-main .idc-video .idc-button:hover {
    -webkit-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    color: #265396;
    background: #ffffff;
}

#idc-main {
    display: none;
}
#idc-main.open {
    display: block;
}
/* ******end of MAIN page***** */

/* ******dev***** */

.idc-dev .idc-container {
    padding-top: 70px;
    padding-bottom: 150px;
    padding-left: 35px;
    padding-right: 35px;
}
.idc-dev .idc-container > .idc-text-5c {
    color: #757575;
}
.idc-dev .idc-h1 {
    color: #174f9e;
    margin-top: 30px;
}
.idc-dev .idc-container > .idc-text-4 {
    margin-top: 60px;
    max-width: 1126px;
}
.idc-dev .idc-text-4b {
    color: #174f9e;
    margin-top: 40px;
}
.idc-dev .idc-bottom {
    margin-top: 25px;
    max-width: 1126px;
}
.idc-dev .idc-img-block {
    width: 306px;
    padding: 10px 10px 16px;
    background: #174f9e;
}
.idc-dev .idc-link-wrapper {
    margin-top: 15px;
}
.idc-dev .idc-link-wrapper .idc-text-5c {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}
.idc-dev .idc-bottom .idc-text-4 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 30px;
}
.idc-dev .idc-bottom .idc-text-4 > span {
    display: inline-block;
}

#idc-dev {
    display: none;
}
#idc-dev.open {
    display: block;
}
/* *********End of dev********* */

/* *********actives********* */
.idc-actives .idc-container {
    padding-top: 70px;
    padding-bottom: 80px;
}
.idc-actives .idc-text-block {
    padding: 0 35px;
}
.idc-actives .idc-text-5c {
    color: #757575;
}
.idc-actives .idc-h1 {
    margin-top: 22px;
    color: #174f9e;
}
.idc-actives .idc-text-5b {
    margin-top: 23px;
    color: #174f9e;
}
.idc-actives .idc-text-4 {
    margin-top: 60px;
    max-width: 1126px;
}
.idc-actives .idc-actives-map {
    margin-top: 40px;
}
.idc-actives .idc-actives-list,
.idc-actives .idc-avtives-names {
    margin-top: 60px;
}
.idc-actives .idc-up-btn {
    width: 50px;
    margin-top: 20px;
    margin-left: auto;
}

#idc-actives {
    display: none;
}
#idc-actives.open {
    display: block;
}
/* *********end of actives********* */

/* *********projects********* */
.idc-projects .idc-container {
    padding-top: 70px;
    padding-bottom: 150px;
}
.idc-projects .idc-text-block {
    padding: 0 35px;
}
.idc-projects .idc-text-5c {
    color: #757575;
}
.idc-projects .idc-h1 {
    color: #174f9e;
    margin-top: 30px;
}
.idc-projects .idc-cards-block {
    margin-top: 50px;
}
.idc-swiper-2 {
    padding: 28px 0;
}
.idc-swiper-2 .swiper-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.idc-projects .idc-card {
    height: 615px;
}
.idc-projects .idc-card-1,
.idc-projects .idc-card-3 {
    padding-top: 23px;
    padding-bottom: 12px;
    position: relative;
    z-index: 0;
}
.idc-projects .idc-card-1 {
    padding-left: 35px;
    padding-right: 35px;
}
.idc-projects .idc-card-3 {
    padding-left: 46px;
    padding-right: 35px;
}
.idc-projects .idc-card-1::before,
.idc-projects .idc-card-3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 670px;
    width: 406px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.idc-projects .idc-card-1::before {
    background-image: url(../img/projects/bg1.jpg);
}
.idc-projects .idc-card-3::before {
    background-image: url(../img/projects/bg2.jpg);
}

.idc-projects .idc-card-1 .idc-text-2,
.idc-projects .idc-card-3 .idc-text-2 {
    color: #ffffff;
}

.idc-projects .idc-card-1 .idc-text-5,
.idc-projects .idc-card-3 .idc-text-5 {
    color: #ffffff;
    margin-top: 30px;
}

.idc-projects .idc-card-1 .idc-counts,
.idc-projects .idc-card-3 .idc-counts {
    margin-top: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.idc-projects .idc-counts .idc-text-6,
.idc-projects .idc-counts .idc-text-6 {
    color: rgba(255, 255, 255, 0.9);
}
.idc-projects .idc-count .idc-text-2 + .idc-text-6 {
    margin-top: 15px;
    margin-left: 5px;
}

.idc-projects .idc-counts + .idc-text-2 {
    margin-top: 15px;
}
.idc-projects .idc-card .idc-text-6 {
    color: #ffffff;
}
.idc-projects .idc-text-6 + .idc-count {
    margin-top: 15px;
}
.idc-projects .idc-btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #265396;
    background: #ffffff;
    border-radius: 5px;
    padding: 11px 25px;
    display: inline-block;
    border: 1px solid #ffffff;
}

.idc-projects .idc-card-1 .idc-btn-wrapper {
    margin-top: 45px;
}
.idc-projects .idc-card-3 .idc-btn-wrapper {
    margin-top: 30px;
}

.idc-projects .idc-card-1 .idc-btn:hover,
.idc-projects .idc-card-3 .idc-btn:hover {
    -webkit-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    color: #ffffff;
    background: #265396;
}
.idc-projects .idc-card-2 {
    z-index: 1;
    position: relative;
    padding: 35px 14px 58px 14px;
}
.idc-projects .idc-card-2::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
    width: 471px;
    height: 615px;
    z-index: -1;
}
.idc-projects .idc-card-2 .idc-text-2 {
    color: #265396;
}
.idc-projects .idc-card-2 .idc-text-5 {
    margin-top: 30px;
    color: #265396;
}
.idc-projects .idc-project-items {
    margin-top: 13px;
}
.idc-projects .idc-project-item {
    width: 385px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
}

.idc-projects .idc-project-item .idc-icon {
    width: 40px;
}
.idc-projects .idc-project-item .idc-text-6 {
    margin-left: 15px;
    color: #265396;
    max-width: 329px;
}
.idc-projects .idc-project-item:nth-child(2) .idc-text-6 {
    width: 60%;
}
.idc-projects .idc-project-item:nth-child(3) .idc-text-6 {
    width: 80%;
}

.idc-projects .idc-card-2 .idc-btn {
    color: #ffffff;
    background: #265396;
    border-radius: 5px;
    padding: 11px 25px;
    display: inline-block;
    border: 1px solid #265396;
}
.idc-projects .idc-card-2 .idc-btn:hover {
    -webkit-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    color: #265396;
    background-color: #ffffff;
}
.idc-projects .idc-card-2 .idc-btn-wrapper {
    margin-top: 70px;
}
.idc-swiper-pagination-2 {
    display: none;
}

#idc-projects {
    display: none;
}
#idc-projects.open {
    display: block;
}
/* *********end of projects********* */

/* *********info********* */
.idc-info .idc-container {
    padding-top: 70px;
    padding-bottom: 150px;
    padding-left: 35px;
}
.idc-info .idc-sidebar {
    width: 275px;
}
.idc-info .idc-info-menu .idc-text-5c {
    color: #757575;
}
.idc-info .idc-info-menu .idc-project-name {
    color: #174f9e;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
.idc-info .idc-info-menu .idc-project-name.open {
    color: #59c5f0;
}
.idc-info .idc-info-menu .idc-project-name:hover {
    -webkit-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    color: #59c5f0;
}
.idc-info .idc-info-menu .idc-text-5c + .idc-project-name {
    margin-top: 40px;
}
.idc-info .idc-sidebar-1 {
    margin-top: 30px;
}
.idc-info .idc-mobile-title {
    color: #174f9e;
    display: none;
}
.idc-info .idc-counts {
    background: #174f9e;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.idc-info .idc-counts .idc-h2,
.idc-info .idc-counts .idc-text-5 {
    color: #ffffff;
}
.idc-info .idc-counts .idc-text-6 {
    color: #59c5f0;
    margin-top: 10px;
}
.idc-info .idc-counts .idc-text-6 + .idc-h2 {
    margin-top: 30px;
}
.idc-info .idc-sidebar-1 .idc-counts {
    padding: 30px 70px 30px 30px;
}

.idc-info .idc-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-x: hidden;
    margin-left: 47px;
    padding-top: 47px;
}
.idc-info .idc-content .idc-h1 {
    color: #174f9e;
}
.idc-info .idc-content-1 .idc-text-4 {
    margin-top: 20px;
    max-width: 864px;
}
.idc-info .idc-content-1 .idc-h1 + .idc-text-4 {
    margin-top: 20px;
}
.idc-info .idc-content-1 .idc-swiper-block {
    margin-top: 50px;
}
.idc-info .idc-swiper-block .swiper-slide {
    width: 410px;
}

.idc-info .swiper {
    width: auto;
    padding-bottom: 20px;
}
.idc-control-wrapper {
    margin-top: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.idc-pagination {
    display: inline-block;
    margin-left: 30px;
    width: auto !important;
    padding-bottom: 3px;
}
.idc-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid #174f9e;
    opacity: 1;
    background: none;
    margin: 0 2.5px !important;
}
.idc-pagination .swiper-pagination-bullet-active {
    background: #174f9e;
}
.idc-swiper-button-prev,
.idc-swiper-button-next {
    width: 50px;
    height: 50px;
    z-index: 5;
    cursor: pointer;
}
.idc-swiper-btn {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #265396;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.idc-swiper-btn > svg {
    width: 9px;
    height: 16px;
}
.swiper-button-disabled .idc-swiper-btn {
    opacity: 0.5;
}
.idc-swiper-button-prev .idc-swiper-btn {
    padding-right: 3px;
}
.idc-swiper-button-next .idc-swiper-btn {
    padding-left: 3px;
}
.idc-swiper-button-next {
    margin-left: 30px;
}

/* ****page 2*** */
.idc-info .idc-sidebar-2 {
    margin-top: 30px;
}
.idc-info .idc-sidebar-2 .idc-counts {
    padding: 30px 35px 50px 30px;
}
.idc-info .idc-sidebar-2 .idc-counts .idc-text-6:last-child {
    width: 81%;
}
.idc-info .idc-content-2 .idc-text-4 {
    margin-top: 18px;
    max-width: 858px;
}
.idc-info .idc-content-2 .idc-h1 + .idc-text-4 {
    margin-top: 50px;
}
.idc-info .idc-content-2 .idc-swiper-block {
    margin-top: 28px;
}
/* ****page 3*** */
.idc-info .idc-sidebar-3 {
    margin-top: 30px;
}
.idc-info .idc-sidebar-3 .idc-counts {
    padding: 30px 35px 50px 35px;
}

.idc-info .idc-content-3 .idc-text-4 {
    margin-top: 15px;
    max-width: 858px;
}
.idc-info .idc-content-3 .idc-h1 + .idc-text-4 {
    margin-top: 50px;
}
.idc-info .idc-content-3 .idc-swiper-block {
    margin-top: 50px;
}

.idc-sidebar-1,
.idc-sidebar-2,
.idc-sidebar-3,
.idc-content-1,
.idc-content-2,
.idc-content-3 {
    display: none;
}
.idc-sidebar-1.open,
.idc-sidebar-2.open,
.idc-sidebar-3.open,
.idc-content-1.open,
.idc-content-2.open,
.idc-content-3.open {
    display: block;
}
#idc-info {
    display: none;
}
#idc-info.open {
    display: block;
}
/* *********end of info********* */

/* *********career********* */
.idc-career .idc-container {
    padding-top: 70px;
    padding-bottom: 150px;
}
.idc-career .idc-text-block {
    padding: 0 35px;
}
.idc-career .idc-text-5c {
    color: #757575;
}
.idc-career .idc-h1 {
    margin-top: 30px;
    color: #174f9e;
}
.idc-career .idc-h1 + .idc-text-4 {
    margin-top: 35px;
}
.idc-career .idc-text-4 > span {
    color: #174f9e;
    font-weight: 700;
}
.idc-career .idc-text-4 {
    margin-top: 20px;
}
.idc-career .idc-img-block {
    margin-top: 40px;
    padding: 110px 40px;
    background: #174f9e;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.idc-career .idc-img {
    width: 383px;
    margin-left: 10px;
}
.idc-career .idc-img:first-child {
    margin-left: 0;
}

#idc-career {
    display: none;
}
#idc-career.open {
    display: block;
}
/* *********end of career********* */

/* *********vacancy********* */
.idc-vacancy .idc-container {
    padding-top: 70px;
    padding-bottom: 150px;
}
.idc-vacancy .idc-text-block {
    padding: 0 35px;
}
.idc-vacancy .idc-text-5c {
    color: #757575;
}
.idc-vacancy .idc-h1 {
    margin-top: 30px;
    color: #174f9e;
}
.idc-vacancy .idc-vacancy-block {
    margin-top: 30px;
    padding-left: 27.5px;
}
.idc-vacancy .idc-vacancy-item {
    padding: 0 7.5px;
    margin-top: 30px;
}
.idc-vacancy-item .idc-text-5 {
    display: block;
    color: #4a4a4a;
    text-decoration: none;
    border: 1px solid rgba(23, 79, 158, 0.6);
    border-radius: 220px;
    background: #ffffff;
    padding: 14px 24px;
}
.idc-vacancy-item .idc-text-5:hover {
    -webkit-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    color: #ffffff;
    background: #174f9e;
    -webkit-box-shadow: 0px 4px 20px rgba(38, 83, 150, 0.3);
    box-shadow: 0px 4px 20px rgba(38, 83, 150, 0.3);
}
.idc-vacancy-item.checked .idc-text-5 {
    color: #ffffff;
    background: #174f9e;
    -webkit-box-shadow: 0px 4px 20px rgba(38, 83, 150, 0.3);
    box-shadow: 0px 4px 20px rgba(38, 83, 150, 0.3);
    border: 1px solid rgba(23, 79, 158, 0.6);
    border-radius: 220px;
}
#idc-vacancy {
    display: none;
}
#idc-vacancy.open {
    display: block;
}
/* *********end of vacancy********* */
